@import 'custom.scss';
@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);

h1 {
    font-family: $font-family-sans-serif;
}

p {
    font-family: $font-family-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}