@import 'custom.scss';
@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);

h1 {
    font-family: $font-family-sans-serif;
}

p {
    font-family: $font-family-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.service-box {
    &:hover {
        cursor: pointer;
        img {
            opacity: 20%;
        }
        .title {
            opacity: 0%;
        }
        .description {
            opacity: 100%;
        }
    }
    .description {
        opacity: 0%;
        transition: all 0.3s;
    }
    .title {
        transition: all 0.3s;
    }
    img {
        opacity: 50%;
        transition: all 0.3s;
    }
}

.habitat-box {
    &:hover {
        cursor: pointer;
        img {
            opacity: 20%;
        }
        .title {
            opacity: 50%;
        }
    }
    img {
        opacity: 50%;
        transition: all 0.3s;
    }
    .title {
        opacity: 100%;
        transition: all 0.3s;
    }
}